 ul {
   width:218px;
   margin: 0 auto;
   padding:0;
 }
 .nav {
   float: left;
   width: 400px;
   padding 20px 0;
   background: black;
   color: #000;

 }
 li {
   float: left;
   list-style: none;
   margin-right: 10px;
   padding: 5px 10px;
   backround: #fff;
 }
